<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Certifique-se de que a solicitação não seja para um arquivo existente ou diretório
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirecione tudo para o arquivo index.php
    RewriteRule ^ index.php [L]
</IfModule>
